NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
NEXT_PUBLIC_APP_NAME=NexPark
NEXT_PUBLIC_APP_URL=http://localhost:3000
# 2. Google Client ID (Lấy từ Google Cloud Console)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=768808098768-vop4tnm5u22h8stb6464bqtogse2rqvm.apps.googleusercontent.com