# Application Name
NEXT_PUBLIC_APP_NAME=NexPark

# Backend API Base Endpoint URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:5029
NEXT_PUBLIC_API_URL=http://localhost:5029

# Frontend App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=768808098768-vop4tnm5u22h8stb6464bqtogse2rqvm.apps.googleusercontent.com
