# 1. Cổng chạy API Backend (Lấy cổng 5029 của HTTP)
NEXT_PUBLIC_API_BASE_URL=http://localhost:5029/api

# 2. Google Client ID (Bạn đã lấy từ file client_secret JSON)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=768808098768-vop4tnm5u22h8stb6464bqtogse2rqvm.apps.googleusercontent.com

# 3. Thông tin Website Frontend
NEXT_PUBLIC_APP_NAME=NexPark
NEXT_PUBLIC_APP_URL=http://localhost:3000
